<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registro</title>
    <link rel="stylesheet" href="css/normalize.css">
    <link rel="stylesheet" href="css/index.css">
</head>
<body>
    <main>
        <h1>¡Bienvenido a mi prueba!</h1>
        <section>
            <h2>Registrate</h2>
            <form action="/enviar" method="post">
                <article><label for="nombre">Nombre</label><br><input type="text" name="nombre" required></article>
                <article><label for="correo">Correo</label><br><input type="text" name="correo" required></article>
                <br>
                <button type="submit">Enviar</button>
            </form>
        </section>
    </main>
</body>
</html>